@{
	ViewBag.Title = "Error";
}

<div clas="text-center">
	<h1>Error</h1>
	<h2 class="text-red">@ViewBag.ErrorMessage</h2>

	<img src="/Images/error.svg" width="500" style="margin-top:100px; margin: 50px auto;
display: block;" />

</div>